{% extends 'layout/base.html' %}

{% block title %}Danh sách học sinh lớp {{ class_obj.name }}{% endblock %}
{% block header %}
<h1 class="center-header">Danh sách học sinh lớp  {{ class_obj.name }} </h1>{% endblock %}
{% block content %}
<div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Họ</th>
                <th>Tên</th>
                <th>Giới tính</th>
                <th>Năm sinh</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
                <tr>
                         <td>{{ s.ho }}</td>
                          <td>{{ s.ten }}</td>
                         <td>{{ s.sex }}</td>
<td>{{ s.DoB.year }}</td>  <!-- Lấy năm từ đối tượng datetime -->
                    <td>{{s.address}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
